body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-weight: lighter;
    position: relative;
}

:root {
    --s: 150px; /* control the size */
    --c1: hsl(0, 0%, 8%);
    --c2: hsl(0, 0%, 6%);
    --mainColor: ;
    --secColor: hsl(0, 0%, 9%);
    --focusColor: ;
}

html {
    --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%,
        var(--c2) 26% 35%, var(--c1) 36% 45%, var(--c2) 46% 55%,
        var(--c1) 56% 65%, var(--c2) 66% 75%, var(--c1) 76% 85%,
        var(--c2) 86% 95%, #0000 96%;
    background: radial-gradient(50% 50% at 100% 0, var(--_g)),
        radial-gradient(50% 50% at 0 100%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2)
            calc(var(--s) / 2) var(--c1);
    background-size: var(--s) var(--s);
}

header {
    height: 50px;
    font-size: 2rem;
    padding: 5px;
    background-color: hsl(0, 0%, 9%);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-shadow: 5px 5px 7px black;
    gap: 0.3em;
    display: grid;
    place-items: center;
}

header svg {
    width: 25px;
    position: absolute;
    right: 20px;
    box-shadow: hsla(210, 8%, 30%, 0.2)0px 8px 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
header svg:hover {
    transform: scale(1.1);
}

.contentWrapWrap {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}
.contentWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 4px;
}

/* tutorial -------------------------------------------------------------- */

.tutorialImg {
    display: grid;
    place-items: center;
}

hq7-modal img {
    border-radius: 20px;
    width: min(70%, 200px);
    transition: 0.5s;
}

hq7-modal .text {
    background-color: #181818;
    border-radius: 20px;
    margin-top: 10px;
    display: grid;
    place-items: center;
}

.text div {
    border-radius: 20px;
    transition: 0.5s;
    margin: 2em;
}
hq7-modal img:nth-child(2),
hq7-modal img:nth-child(3) {
    position: absolute;
    opacity: 0;
    transform: translate(150px);
}

.text div:nth-child(2),
.text div:nth-child(3) {
    position: absolute;
    opacity: 0;
    transform: translate(150px);
}

.pageIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.pageIndicator > svg {
    width: 15px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    transition: 0.2s;
    border: 1px solid hsl(0, 0%, 10%);
}

.pageIndicator > svg:hover {
    border-color: white;
}

.pageIndicator svg:first-child {
    margin-right: 5px;
    opacity: 0;
}
.pageIndicator svg:last-child {
    margin-left: 5px;
}

.dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: hsl(0, 0%, 70%);
    transition: 0.2s;
}

.selectedDot {
    background-color: white;
    width: 20px;
    height: 20px;
}

/* Img and info --------------------------------------------------------------- */

.imgHolder {
    display: grid;
    place-items: center;
    margin-top: 0.5em;
    transition: 0.5s;
}

section > img {
    width: min(100%, 500px);
    z-index: -1;
    transition: 0.2s;
    filter: blur(30px);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2em;
}

.infoWrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.detailsWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 1em;
    width: 100%;
    visibility: hidden;
}

.infoWrap,
.details {
    text-align: center;
    font-size: clamp(1em, 2vw, 1.2em);
    background-color: hsl(0, 0%, 9%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    transition: 0.5s;
}
.details {
    display: grid;
    place-items: center;
    gap: 0;
    padding: 10px;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    opacity: 0;
}

.detailsStay {
    opacity: 1;
}
.detailsUp {
    opacity: 1;
    animation: moveUp 0.5s;
}
.detailsDown {
    opacity: 1;
    animation: moveDown 0.5s;
}

.infoWrap:hover {
    background-color: hsl(0, 0%, 11%);
}

.infoWrap > * {
    margin: 10px 0;
    padding: 0.4em;
}

.info {
    display: flex;
    gap: 0;
    transition: 0.2s;
}

svg {
    width: clamp(1em, 2vw, 1.4em);
    transition: 0.2s;
}

.hint {
    border-radius: 50%;
    border: white 2px solid;
    width: 15px;
    height: 15px;
    font-size: 15px;
    cursor: pointer;
}

/* rest of body --------------------------------------------------------- */

.spinner {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 10px solid white;
    /* border-right: ; */
    
}


.textField {
    position: relative;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s;
}

button {
    display: none;
    margin: 10px;
    width: 100px;
    height: 40px;
    border-radius: 15%;
    background-color: hsl(120, 22%, 41%);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: white;
    border: 0;
    margin-bottom: 10px;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    text-shadow: 1px 1px 5px black;
    transition: 0.2s;
}

button:hover {
    transform: scale(110%);
    background-color: hsl(120, 22%, 35%);
}

.endText {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: clamp(1.2rem, 1.5vw, 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: moveUp 0.5s;
    background-color: #181818;
    border-radius: 20px;
    padding: 0.5em;
}

.titleEnd {
    text-align: center;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 0.5em;
}

.disEnd {
    text-align: center;
}

.lose {
    background-color: rgb(129, 67, 67);
}

.win {
    background-color: rgb(82, 128, 82);
}

.endText * {
    margin: 0.5em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

hq7-letter {
    margin: 5px;
}

.a {
    background: white;
    width: 10px;
    height: 5px;
    border-radius: 10px;
    transform: rotate(-45deg);
    opacity: 0;
}

@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.moveRight {
    transform: translateX(100vw);
    animation: moveRight 1s cubic-bezier(0.46, -0.22, 0.41, 1.22);
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

.moveLeft {
    transform: translateX(-100vw);
    animation: moveLeft 1s cubic-bezier(0.46, -0.22, 0.41, 1.22);
}

@keyframes moveLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw);
    }
}

.gone {
    animation: gone 0.7s;
}

@keyframes gone {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (min-width: 1000px) {
    ::-webkit-scrollbar {
        background-color: hsl(0, 0%, 8%);
    }

    ::-webkit-scrollbar-thumb {
        background-color: hsl(0, 0%, 17%);
    }
}
