body {
    background-color: hsl(0, 0%, 8%);
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-weight: lighter;
}

header {
    height: 50px;
    font-size: 2rem;
    padding: 5px;
    background-color: #181818;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.contentWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 1em;
    margin: 0px 10px 10px 10px;
}

.imgHolder {
    display: grid;
    place-items: center;
    margin-top: 0.5em;
    transition: 0.5s;
}

img {
    width: min(100%, 500px);
    z-index: -1;
    transition: 0.2s;
    filter: blur(30px);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2em;
}

.infoWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.1rem, 1.5vw, 3rem);
    background-color: #181818;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
}

.infoWrap > * {
    margin: 10px;
    padding: 0.4em;
}

.info {
    display: flex;
    gap: 0;
}

svg {
    width: 25px;
}

.hint {
    border-radius: 50%;
    border: white 2px solid;
    width: 15px;
    height: 15px;
    font-size: 15px;
    cursor: pointer;
}

.textField {
    position: relative;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.2s;
}

button {
    display: none;
    margin: 10px;
    width: 100px;
    height: 40px;
    border-radius: 15%;
    background-color: rgb(82, 128, 82);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: white;
    border: 0;
    margin-bottom: 10px;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(110%);
    border: hsl(120, 22%, 31%) 3px solid;
}

.endText {
    font-size: clamp(1.2rem, 1.5vw, 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: moveUp 0.5s;
    background-color: #181818;
    border-radius: 20px;
    padding: 0.5em;
}

.titleEnd {
    text-align: center;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 0.5em;
}

.disEnd {
    text-align: center;
}

.lose {
    background-color: rgb(129, 67, 67);
}

.win {
    background-color: rgb(82, 128, 82);
}

.endText * {
    margin: 0.5em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

hq7-letter {
    margin: 5px;
}

.a {
    background: white;
    width: 10px;
    height: 5px;
    border-radius: 10px;
    transform: rotate(-45deg);
    opacity: 0;
}

::-webkit-scrollbar {
    background-color: hsl(0, 0%, 8%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 17%);
}

.moveRight {
    transform: translateX(100vw);
    animation: moveRight 1s cubic-bezier(0.46, -0.22, 0.41, 1.22);
}

@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }
}

.moveLeft {
    transform: translateX(-100vw);
    animation: moveLeft 1s cubic-bezier(0.46, -0.22, 0.41, 1.22);
}

@keyframes moveLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw);
    }
}

.gone {
    animation: gone 0.7s;
}

@keyframes gone {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
